---
title: Main projects
description: 
---

<div class="content">
{% for project in site.data.projects_overview %}
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong><a href="{% include relative-src.html src=project.site %}">{{ project.title }}</a></strong></h2>
				<p>{{ project.description }}</p>
			</div>
			<div class="image">
				<a href="{% include relative-src.html src=project.site %}"><img src="{{ project.image }}" class="screenshot editable" /></a>
			</div>
		</div>
	</section>
{% endfor %}
</div>
