---
title: Publications
description: 
---

<div class="accordion">
  <div class="accordion-item">
    <button class="accordion-header">
      <span class="accordion-title">Ablation therapies</span>
      <span class="accordion-icon">+</span>
    </button>
    <div class="accordion-body">
      <ul>
        {% for paper in site.data.publications.ablation %}
      			<li style="margin-bottom: 1rem;">{{ paper.title }} <a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a></li>
  	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="accordion-item">
    <button class="accordion-header">
      <span class="accordion-title">Extracorporeal Membrane Oxygenation</span>
      <span class="accordion-icon">+</span>
    </button>
    <div class="accordion-body">
      <ul>
        {% for paper in site.data.publications.ecmo %}
      			<li style="margin-bottom: 1rem;">{{ paper.title }} <a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a></li>
  	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="accordion-item">
    <button class="accordion-header">
      <span class="accordion-title">Glioma Progression</span>
      <span class="accordion-icon">+</span>
    </button>
    <div class="accordion-body">
      <ul>
        {% for paper in site.data.publications.glioma %}
      			<li style="margin-bottom: 1rem;">{{ paper.title }} <a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a></li>
  	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="accordion-item">
    <button class="accordion-header">
      <span class="accordion-title">Cardiovascular Modelling</span>
      <span class="accordion-icon">+</span>
    </button>
    <div class="accordion-body">
      <ul>
        {% for paper in site.data.publications.cardiovascular %}
      			<li style="margin-bottom: 1rem;">{{ paper.title }} <a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a></li>
  	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="accordion-item">
    <button class="accordion-header">
      <span class="accordion-title">Other Biomedical Applications</span>
      <span class="accordion-icon">+</span>
    </button>
    <div class="accordion-body">
      <ul>
        {% for paper in site.data.publications.other_biomedical %}
      			<li style="margin-bottom: 1rem;">{{ paper.title }} <a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a></li>
  	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="accordion-item">
    <button class="accordion-header">
      <span class="accordion-title">Other</span>
      <span class="accordion-icon">+</span>
    </button>
    <div class="accordion-body">
      <ul>
        {% for paper in site.data.publications.other %}
      			<li style="margin-bottom: 1rem;">{{ paper.title }} <a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a></li>
  	{% endfor %}
      </ul>
    </div>
  </div>
</div>
