---
title: Our team
description: >-
  We've built an amazing, fantastic team of developers, marketers, designers and
  sales people.
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name">{{ person.name }}</div>
			<div class="position">{{ person.position }}</div>
			{% if person.scholar %}
  				<div class="media">
				<a href="{{ person.scholar }}" target="_blank" title="Google Scholar">
    				<svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      				<title>Google Scholar</title>
      				<path d="M12 24a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm0-24L0 9.5l4.838 3.94A8 8 0 0 1 12 9a8 8 0 0 1 7.162 4.44L24 9.5z"/>
    				</svg>
  				</a>
				</div>
			{% endif %}
		</li>
	{% endfor %}
</ul>
